.hero {
  position: relative;
  overflow: hidden;
  background-color: $color-solitude-3;
  animation: backgroundFadeIn 0.7s ease-in;

  &__wrapper {
    display: flex;
    gap: 56px;
    align-items: center;
    min-height: calc(100vh - 88px);
    padding: 70px 0;
    background-color: $color-solitude-3;
    animation: backgroundFadeIn 0.7s ease-in;
  }

  &__heading {
    margin: 0 0 24px;
    color: $color-black-russian;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    opacity: 0;
    animation: textSliderInDown 0.7s ease-in forwards 2s;
  }

  &__text {
    margin: 0 0 48px;
    color: $color-black-russian;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0;
    animation: textSliderInUp 0.7s ease-in forwards 2.5s;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__download {
    padding: 18px 32px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0;
    animation: textSliderInUp 0.7s ease-in forwards 3s;
  }

  &__button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: $color-royal-blue-1;
    opacity: 0;
    animation: textSliderInUp 0.7s ease-in forwards 3s;
  }

  &__image {
    animation: imageSliderInRight 2s ease-in forwards;
    opacity: 0;
    transform: translateX(100%) scale(1.5);
  }
}

@keyframes imageSliderInRight {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(1.5);
  }

  50% {
    opacity: 1;
    transform: translateX(50%) scale(1.5);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: $color-white;
  }

  100% {
    background-color: $color-solitude-3;
  }
}

@keyframes textSliderInDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSliderInUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}